Mahi/src/digits_data.pickle
Mahi/src/digits_data_cleaned.pickle
Mahi/src/models/rf.joblib
Mahi/src/models/rf_mnist.joblib
data/
Mahi/src/data_preprocessing/digits_data.pickle
Mahi/src/data_preprocessing/digits_data_cleaned.pickle
Jere/data
Jere/__pycache__
Oyshe/__pycache__
Mahi/src/inference/__pycache__